# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env

# FastAPI / backend
backend/app/storage/uploads/*
!backend/app/storage/uploads/.gitkeep
backend/.pytest_cache/

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
dist/
build/
.env.local
.env.development.local
.env.production.local

# Database
*.sqlite3
*.db

# Docker
docker-compose.override.yml

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

.env.production